<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Login</title>
</head>
<body>
       <h1> Merhaba </h1>, <% if(!user) {%>   
                    <li><a href="/login"> <h2>Giriş Yap!</h2></a></li>
    
    <% } else {%>    
                   <h2> <li><a><%= user.username %></</a></li>   </h2>
      <% } %> 
</body>
</html>
